<app-navbar></app-navbar>

<div class="container text-center">
  Merci d'ajouter les voyageurs participants au voyage.
</div>
<form (ngSubmit)="onSubmit()" [formGroup]="form">

  <input class="" type="text" [(ngModel)]="destination.region" formControlName="region" hidden>
  <textarea [(ngModel)]="destination.description" formControlName="descriptif" hidden>
  </textarea>
  <div formGroupName="datesVoyage">
    <input type="text" [(ngModel)]="datesVoyage.dateAller" formControlName="dateAller" hidden>
    <input type="text" [(ngModel)]="datesVoyage.dateRetour" formControlName="dateRetour" hidden>
    <input type="text" [(ngModel)]="datesVoyage.prixHT" formControlName="prixHT" hidden>
    <input type="text" [(ngModel)]="datesVoyage.nbrePlaces" formControlName="nbrePlaces" hidden>
    <input type="text" [(ngModel)]="datesVoyage.id" formControlName="id" hidden>
  </div>

  <div formGroupName="client">
    <input type="text" [(ngModel)]="userDisplay" formControlName="nom" hidden>
  </div>


  <div formArrayName="voyageurs">
    <div *ngFor="let control of voyageurs.controls; index as i">
      <div [formGroupName]="i">
        <div class="form-row">
          <div class="col-2">
            <label class="mr-sm-2 sr-only" for="civiliteSelect">Civilite</label>
            <select class="custom-select mr-sm-2" formControlName="civilite" id="civiliteSelect">
              <option value="1">M</option>
              <option value="2">Mme</option>
              <option value="3">Mlle</option>
            </select>
          </div>
          <div class="col-3">
            <input type="text" class="form-control" placeholder="Nom" formControlName="nom">
          </div>
          <div class="col-3">
            <input type="text" class="form-control" placeholder="Prenom" formControlName="prenom">
          </div>
          <div>
            <button type="button" (click)="deleteVoyageur(i)">X</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-primary" [disabled]="compteur>9" (click)="addVoyageur()">Ajouter un voyageur</button>
  <button type="submit" class="btn btn-primary">Créer le voyage</button>
</form>
