<app-navbar></app-navbar>
<form (ngSubmit)="onSubmit()" [formGroup]="form">
  <input type="text" [(ngModel)]="destination.region" formControlName="region" readonly>
  <textarea [(ngModel)]="destination.description" formControlName="descriptif" readonly>
  </textarea>
  <div formGroupName="datesVoyage">
    <input type="text" [(ngModel)]="datesVoyage.dateAller" formControlName="dateAller" readonly>
    <input type="text" [(ngModel)]="datesVoyage.dateRetour" formControlName="dateRetour" readonly>
    <input type="text" [(ngModel)]="datesVoyage.prixHT" formControlName="prixHT" readonly>
    <input type="text" [(ngModel)]="datesVoyage.nbrePlaces" formControlName="nbrePlaces" readonly>
    <input type="text" [(ngModel)]="datesVoyage.id" formControlName="id" readonly>
  </div>
  <div formGroupName="client">
    <input type="text" [(ngModel)]="userDisplay" formControlName="nom" readonly>
  </div>
  <div formArrayName="voyageurs">
    <div *ngFor="let control of voyageurs.controls; index as i">
      <div [formGroupName]="i">
        <select name="civilite" formControlName="civilite">
          <option>M</option>
          <option>Mme</option>
          <option>Mlle</option>
        </select>
        <input type="text" formControlName="nom">
        <input type="text" formControlName="prenom">
      </div>
    </div>
  </div>
  <button type="button" (click)="addVoyageur()">Ajouter un voyageur</button>
  <button type="submit">Créer le voyage</button>
</form>
<div>
  {{destination.region}}
  {{datesVoyage?.id}}
</div>
