<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div *ngFor="let destination of destinations; let i = index" class="col-lg-4">
      <a [routerLink]="['/destination-details', destination.id]" class="col-lg-4">
        <figure class="rounded p-3 bg-white shadow-sm">
          <img *ngIf="destination.imageUrl" [src]="'http://127.0.0.1:8080/' + destination.imageUrl" alt="" class="card-img-top">
          <img *ngIf="!destination.imageUrl" alt="Il n'y a pas d'image pour cette destination">
          <figcaption class="p-4 card-img-bottom">
            <h2 class="h5 font-weight-bold mb-2 font-italic">{{destination.region}}</h2>
            <p class="mb-0 text-small text-muted font-italic">{{destination.description}}</p>
          </figcaption>
        </figure>
      </a>
    </div>
  </div>
</div>
<div *ngIf="selectedDestination">
  <app-destination-details *ngIf="selectedDestination" [destination]="selectedDestination"></app-destination-details>
  <button type="button" (click)="unselect()">Retour</button>
</div>
